<p style="size:20cm; text-align:center">Angular 2</p><hr>

<!--<app-binding>"Property,event and two way binding"</app-binding>

<br><hr>
-->
<app-io [students]="student" (onPass)="dataPassed($event)">"Input/Output"</app-io>

<br><hr>

<!--
    <a href="/binding">binding</a>
    <a href="/io">input/output</a>
    reloads if we use this anchor tag 

    <a [routerLink]="['binding']">binding</a>
    <a [routerLink]="['io']">input/output</a> doesnt gets reloaded evry time -->

<router-outlet></router-outlet>